# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 20 stocks with the highest price momentum making use of a number of additional criteria as suggested by Tal Davidson: https://taldavidson.com/quantitative-momentum/quantitative-momentum-strategy/. 

From there, we will calculate recommended trades for an equal-weight portfolio of these 20 stocks. 

Due to the constraints of the available APIs, we will focus exclusively on US-based stocks, specifically those listed on the S&P 500 index.

### Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this project.

In [1]:
from forex_python.converter import CurrencyRates
import math
import numpy as np
import os
import pandas as pd
import pickle
import pyEX
import requests
from scipy.stats import percentileofscore as score
import xlsxwriter

### Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500. \
In this case we are going to use a static version of it but feel free to choose a different approach.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

### Acquiring API-Token

Now it's time to import our IEX Cloud API token. This is the data provider that I will be using throughout this project.

My key is being stored in an environment variable here, so you need to provide your own if you want to replicate this code.

In [3]:
IEX_CLOUD_API_TOKEN = os.environ.get("IEX_SANDBOX_KEY")

# Step 1 - Making our First API-Call

Now it's time to structure our API calls to IEX cloud.

An example of a simple request could look like this:

In [4]:
symbol = 'LB'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'L Brands Inc',
 'marketcap': 22722212378,
 'week52high': 84,
 'week52low': 25.74,
 'week52highSplitAdjustOnly': 85,
 'week52lowSplitAdjustOnly': 25.68,
 'week52change': 2.343094435246564,
 'sharesOutstanding': 281210025,
 'float': 0,
 'avg10Volume': 3250980,
 'avg30Volume': 4887293,
 'day200MovingAvg': 63.03,
 'day50MovingAvg': 74.54,
 'employees': 58244,
 'ttmEPS': 5.14,
 'ttmDividendRate': 0.15338359512469846,
 'dividendYield': 0.001945140892978844,
 'nextDividendDate': '',
 'exDividendDate': '2021-05-26',
 'nextEarningsDate': '',
 'peRatio': 16.00346153055435,
 'beta': 1.3635047776186482,
 'maxChangePercent': 3.12240148472899,
 'year5ChangePercent': 0.3722093592469524,
 'year2ChangePercent': 2.477061854566112,
 'year1ChangePercent': 2.337482713787379,
 'ytdChangePercent': 1.173918687686791,
 'month6ChangePercent': 0.834489469878399,
 'month3ChangePercent': 0.22102352924366842,
 'month1ChangePercent': 0.08282482196304282,
 'day30ChangePercent': 0.08145367741338766,
 'day5ChangePercent': 0.032172554311234745}

### Executing A Batch API Call & Building Our DataFrame

The first thing we need to do is to add the following data to a pandas DataFrame:

- The current price of each stock
- One-Year price return for each stock
- Six-Month price return for each stock
- Three-Month price return for each stock
- One-Month price return for each stock
- Beta of each stock

Batch API calls are one of the easiest ways to improve the performance of our code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often offer discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

We'll start by running the following code cell, which contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

my_columns = ['Ticker',
                'Price', 
                'One-Year Price Return', 
                'One-Month Price Return',
                'Beta', 
                'One-Year IM', 
                'One-Year IM-Percentile', 
                'Six-Month Price Return', 
                'Six-Month IM', 
                'Six-Month IM-Percentile',
                'Three-Month Price Return', 
                'Three-Month IM', 
                'Three-Month IM-Percentile', 
                'Piotroski Score', 
                'ROC',
                'ROC Percentile', 
                'Number of Shares to Buy']

Now we can create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
momentum_df = pd.DataFrame(columns = my_columns)

for symbol_string in symbol_strings:
#     print(symbol_strings)
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        momentum_df = momentum_df.append(
                                        pd.Series([symbol,
                                                   data[symbol]['quote']['latestPrice'],
                                                   data[symbol]['stats']['year1ChangePercent'],
                                                   data[symbol]['stats']['month1ChangePercent'],
                                                   data[symbol]['stats']['beta'],
                                                   'N/A',
                                                   'N/A',
                                                   data[symbol]['stats']['month6ChangePercent'],
                                                   'N/A',
                                                   'N/A',
                                                   data[symbol]['stats']['month3ChangePercent'],
                                                   'N/A',
                                                   'N/A',
                                                   'N/A',
                                                   'N/A',
                                                   'N/A',
                                                   'N/A'
                                                   ], 
                                                  index = my_columns), 
                                        ignore_index = True)
        
## Run this to work around error in percentileofscore function
momentum_df['One-Year Price Return'] = momentum_df['One-Year Price Return'].astype('float')
momentum_df['Six-Month Price Return'] = momentum_df['Six-Month Price Return'].astype('float')
momentum_df['Three-Month Price Return'] = momentum_df['Three-Month Price Return'].astype('float')
momentum_df['One-Month Price Return'] = momentum_df['One-Month Price Return'].astype('float')

momentum_df

,Ticker,Price,One-Year Price Return,One-Month Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,A,168.87,0.731753,0.140494,0.947536,N/A,N/A,0.329178,N/A,N/A,0.296226,N/A,N/A,N/A,N/A,N/A,N/A
1,AAL,19.30,0.488289,-0.012698,1.154142,N/A,N/A,0.002749,N/A,N/A,-0.187446,N/A,N/A,N/A,N/A,N/A,N/A
2,AAP,215.62,0.317672,0.013635,0.714996,N/A,N/A,0.265575,N/A,N/A,0.078741,N/A,N/A,N/A,N/A,N/A,N/A
3,AAPL,148.81,0.284063,0.031956,1.577257,N/A,N/A,0.136210,N/A,N/A,0.183090,N/A,N/A,N/A,N/A,N/A,N/A
4,ABBV,119.25,0.293826,0.022279,0.686594,N/A,N/A,0.149568,N/A,N/A,0.029593,N/A,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,135.16,0.474020,0.182510,0.701742,N/A,N/A,0.283499,N/A,N/A,0.135743,N/A,N/A,N/A,N/A,N/A,N/A
501,ZBH,149.76,0.058961,-0.041849,0.967284,N/A,N/A,-0.078482,N/A,N/A,-0.132610,N/A,N/A,N/A,N/A,N/A,N/A
502,ZBRA,591.28,1.000159,0.115488,1.327935,N/A,N/A,0.152769,N/A,N/A,0.167733,N/A,N/A,N/A,N/A,N/A,N/A
503,ZION,53.99,0.667300,0.123987,1.275753,N/A,N/A,0.041602,N/A,N/A,-0.070784,N/A,N/A,N/A,N/A,N/A,N/A
504,ZTS,210.86,0.309998,0.044944,0.801371,N/A,N/A,0.298789,N/A,N/A,0.212888,N/A,N/A,N/A,N/A,N/A,N/A

### Exluding Most Recent Month From Annual Price Return

The practice of excluding the most recent month in the calculation of momentum is consistent with the academic research showing that month-to-month stock performance tends to invert. Previous month losers tend to be winners in the following month. Previous month winners tend to be losers in the next month.

We can obtain the momentum score without the most recent month by simply substracting the One-Month Price Returns from the One-Year ones.

In [7]:
excl_last_month = momentum_df['One-Year Price Return'] - momentum_df['One-Month Price Return']
momentum_df['One-Year Price Return'] = excl_last_month
momentum_df.drop(['One-Month Price Return'], axis = 1, inplace = True)
momentum_df

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,A,168.87,0.591259,0.947536,N/A,N/A,0.329178,N/A,N/A,0.296226,N/A,N/A,N/A,N/A,N/A,N/A
1,AAL,19.30,0.500988,1.154142,N/A,N/A,0.002749,N/A,N/A,-0.187446,N/A,N/A,N/A,N/A,N/A,N/A
2,AAP,215.62,0.304037,0.714996,N/A,N/A,0.265575,N/A,N/A,0.078741,N/A,N/A,N/A,N/A,N/A,N/A
3,AAPL,148.81,0.252107,1.577257,N/A,N/A,0.136210,N/A,N/A,0.183090,N/A,N/A,N/A,N/A,N/A,N/A
4,ABBV,119.25,0.271548,0.686594,N/A,N/A,0.149568,N/A,N/A,0.029593,N/A,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,135.16,0.291510,0.701742,N/A,N/A,0.283499,N/A,N/A,0.135743,N/A,N/A,N/A,N/A,N/A,N/A
501,ZBH,149.76,0.100811,0.967284,N/A,N/A,-0.078482,N/A,N/A,-0.132610,N/A,N/A,N/A,N/A,N/A,N/A
502,ZBRA,591.28,0.884672,1.327935,N/A,N/A,0.152769,N/A,N/A,0.167733,N/A,N/A,N/A,N/A,N/A,N/A
503,ZION,53.99,0.543313,1.275753,N/A,N/A,0.041602,N/A,N/A,-0.070784,N/A,N/A,N/A,N/A,N/A,N/A
504,ZTS,210.86,0.265054,0.801371,N/A,N/A,0.298789,N/A,N/A,0.212888,N/A,N/A,N/A,N/A,N/A,N/A

# Step 2 - The Idiosyncratic Momentum Criterion

Now that we have defined the base structure of our project (in Step One), it is time to further tweak our momentum selection criteria.

For this we need the following information from the API:

- One-Year price return for each stock
- Beta for each stock
- One-Year price return for the S&P 500 index

Beta is a numeric value that measures the fluctuations of a stock to changes in the overall stock market.

This enables us to normalize each stock's momentum to a common volatility baseline, since Beta is a numeric value that measures the fluctuations of a stock to changes in the overall stock market. Any momentum that remains after normalization is resulting from a stockâ€™s unique situation, therefore regarded as idiosyncratic momentum.

The formula for idiosyncratic momentum (IM) would thus be as follows:

\begin{equation}
\text{IM} = \text{year1changeP} - (\text{beta} * \text{S&P500year1changeP})
\end{equation}

The main inspiration for this step comes from the following article: https://alphaarchitect.com/2017/05/02/swedroe-spotlight-enhancing-momentum-strategies-via-idiosyncratic-momentum/.

### Acquiring the data

Unfortunately, IEXCloud doesn't provide data for the S&P 500 index as a whole. 

In an ideal world we would thus connect directly to the index provider (Standard & Poor's) and pull the data we need on a regular basis.

However, paying for access to the index provider's API is outside the scope of this project.

What we are going to do instead, is to forgo the idea  of using the One-Year price return for the S&P 500 index and instead use the One-Year Price return for the SPDR S&P 500 ETF Trust (https://www.ssga.com/us/en/institutional/etfs/funds/spdr-sp-500-etf-trust-spy).

The SPDR S&P 500 ETF Trust (SPY) is perhaps the best-recognized and oldest US listed ETF and typically tops rankings for largest AUM (Assets under Management) and greatest trading volume. The fund tracks the massively popular US index, the S&P 500. As a UIT (Unit Investment Trust), SPY must fully replicate its index.

Thus, the SPDR S&P 500 ETF Trust closely mirrors its index (the S&P 500) and should therefore work equally well as a common volatility baseline for our stocks.

The following code returns the One-Year price return for the SPDR S&P 500 ETF Trust:

In [8]:
symbol = 'SPY'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
SPYyear1changeP = data['year1ChangePercent']
SPYmonth6changeP = data['month6ChangePercent']
SPYmonth3changeP = data['month3ChangePercent']
print(f'The One-Year Price Return of the SPDR S&P 500 ETF Trust was {SPYyear1changeP}.')
print(f'The Six-Month Price Return of the SPDR S&P 500 ETF Trust was {SPYmonth6changeP}.')
print(f'The Three-Month Price Return of the SPDR S&P 500 ETF Trust was {SPYmonth3changeP}.')

The One-Year Price Return of the SPDR S&P 500 ETF Trust was 0.3337514220681346.
The Six-Month Price Return of the SPDR S&P 500 ETF Trust was 0.1367447064686904.
The Three-Month Price Return of the SPDR S&P 500 ETF Trust was 0.07476076363384082.

### Calculating one-year idiosyncratic momentum

We are now in a position where we have got everything we need in order to calculate our Idiosyncratic Momentum, using the formula that we have defined above. We can instantly see a major difference, as the Idiosyncratic Momentum seems to be lower than the simple momentum given by the One-Year Price Return column.

In fact, some stocks now actually have negative Momentum!

In [9]:
IM = momentum_df['One-Year Price Return'] - (momentum_df['Beta'] * SPYyear1changeP)

for i in momentum_df.index:
    momentum_df.loc[i, 'One-Year IM'] = IM[i]
    
momentum_df

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,A,168.87,0.591259,0.947536,0.275018,N/A,0.329178,N/A,N/A,0.296226,N/A,N/A,N/A,N/A,N/A,N/A
1,AAL,19.30,0.500988,1.154142,0.115791,N/A,0.002749,N/A,N/A,-0.187446,N/A,N/A,N/A,N/A,N/A,N/A
2,AAP,215.62,0.304037,0.714996,0.065406,N/A,0.265575,N/A,N/A,0.078741,N/A,N/A,N/A,N/A,N/A,N/A
3,AAPL,148.81,0.252107,1.577257,-0.274305,N/A,0.136210,N/A,N/A,0.183090,N/A,N/A,N/A,N/A,N/A,N/A
4,ABBV,119.25,0.271548,0.686594,0.042396,N/A,0.149568,N/A,N/A,0.029593,N/A,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,135.16,0.291510,0.701742,0.057303,N/A,0.283499,N/A,N/A,0.135743,N/A,N/A,N/A,N/A,N/A,N/A
501,ZBH,149.76,0.100811,0.967284,-0.222022,N/A,-0.078482,N/A,N/A,-0.132610,N/A,N/A,N/A,N/A,N/A,N/A
502,ZBRA,591.28,0.884672,1.327935,0.441471,N/A,0.152769,N/A,N/A,0.167733,N/A,N/A,N/A,N/A,N/A,N/A
503,ZION,53.99,0.543313,1.275753,0.117529,N/A,0.041602,N/A,N/A,-0.070784,N/A,N/A,N/A,N/A,N/A,N/A
504,ZTS,210.86,0.265054,0.801371,-0.002405,N/A,0.298789,N/A,N/A,0.212888,N/A,N/A,N/A,N/A,N/A,N/A

We can do the same for the six- and three month periods:

In [10]:
IM_six_month = momentum_df['Six-Month Price Return'] - (momentum_df['Beta'] * SPYmonth6changeP)

for i in momentum_df.index:
    momentum_df.loc[i, 'Six-Month IM'] = IM_six_month[i]
    
IM_three_month = momentum_df['Three-Month Price Return'] - (momentum_df['Beta'] * SPYmonth3changeP)

for i in momentum_df.index:
    momentum_df.loc[i, 'Three-Month IM'] = IM_three_month[i]
    
momentum_df

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,A,168.87,0.591259,0.947536,0.275018,N/A,0.329178,0.199607,N/A,0.296226,0.225388,N/A,N/A,N/A,N/A,N/A
1,AAL,19.30,0.500988,1.154142,0.115791,N/A,0.002749,-0.155073,N/A,-0.187446,-0.27373,N/A,N/A,N/A,N/A,N/A
2,AAP,215.62,0.304037,0.714996,0.065406,N/A,0.265575,0.167803,N/A,0.078741,0.025287,N/A,N/A,N/A,N/A,N/A
3,AAPL,148.81,0.252107,1.577257,-0.274305,N/A,0.136210,-0.079472,N/A,0.183090,0.065173,N/A,N/A,N/A,N/A,N/A
4,ABBV,119.25,0.271548,0.686594,0.042396,N/A,0.149568,0.05568,N/A,0.029593,-0.021737,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,135.16,0.291510,0.701742,0.057303,N/A,0.283499,0.18754,N/A,0.135743,0.08328,N/A,N/A,N/A,N/A,N/A
501,ZBH,149.76,0.100811,0.967284,-0.222022,N/A,-0.078482,-0.210752,N/A,-0.132610,-0.204925,N/A,N/A,N/A,N/A,N/A
502,ZBRA,591.28,0.884672,1.327935,0.441471,N/A,0.152769,-0.028819,N/A,0.167733,0.068455,N/A,N/A,N/A,N/A,N/A
503,ZION,53.99,0.543313,1.275753,0.117529,N/A,0.041602,-0.13285,N/A,-0.070784,-0.16616,N/A,N/A,N/A,N/A,N/A
504,ZTS,210.86,0.265054,0.801371,-0.002405,N/A,0.298789,0.189206,N/A,0.212888,0.152976,N/A,N/A,N/A,N/A,N/A

# Step 3 - Momentum Quality

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

High-quality momentum stocks show "slow and steady" outperformance over long periods of time
Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.
The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be caused by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest two deciles of momentum stocks.

In addition, we will only consider those stocks that also rank in the upper half of stocks with highest _quarterly_ and _bi-quarterly_ idiosyncratic momentum.

We thus need to calculate momentum percentile scores for every stock in the S&P500. More specifically, we need to calculate percentile scores for the following metrics for every stock:

- (One-Year) Idiosyncratic Momentum
- Six-Month Idiosyncratic Momentum
- Three-Month Idiosyncratic Momentum

Here's how we can do this:

In [11]:
time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month'
                ]

# Some data from the API might have a value of None, which will cause an error with the percentileofscore function.
# We thus work around this by manually assigning all 'None' values to zero.
for row in momentum_df.index:
    for time_period in time_periods:
        change_col = f'{time_period} IM'
        percentile_col = f'{time_period} IM-Percentile'
        if momentum_df.loc[row, change_col] == None:
            momentum_df.loc[row, change_col] = 0.0

for row in momentum_df.index:
    for time_period in time_periods:        
        change_col = f'{time_period} Price Return'
        percentile_col = f'{time_period} IM-Percentile'            
        momentum_df.loc[row, percentile_col] = score(momentum_df[change_col], momentum_df.loc[row, change_col]) / 100
        
momentum_df

C:\Users\Max\Anaconda3\lib\site-packages\scipy\stats\stats.py:1857: RuntimeWarning: invalid value encountered in less
  left = np.count_nonzero(a < score)
C:\Users\Max\Anaconda3\lib\site-packages\scipy\stats\stats.py:1858: RuntimeWarning: invalid value encountered in less_equal
  right = np.count_nonzero(a <= score)

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,A,168.87,0.591259,0.947536,0.275018,0.79604,0.329178,0.199607,0.885149,0.296226,0.225388,0.954455,N/A,N/A,N/A,N/A
1,AAL,19.30,0.500988,1.154142,0.115791,0.712871,0.002749,-0.155073,0.219802,-0.187446,-0.27373,0.045545,N/A,N/A,N/A,N/A
2,AAP,215.62,0.304037,0.714996,0.065406,0.465347,0.265575,0.167803,0.786139,0.078741,0.025287,0.669307,N/A,N/A,N/A,N/A
3,AAPL,148.81,0.252107,1.577257,-0.274305,0.390099,0.136210,-0.079472,0.510891,0.183090,0.065173,0.873267,N/A,N/A,N/A,N/A
4,ABBV,119.25,0.271548,0.686594,0.042396,0.419802,0.149568,0.05568,0.564356,0.029593,-0.021737,0.526733,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,135.16,0.291510,0.701742,0.057303,0.451485,0.283499,0.18754,0.811881,0.135743,0.08328,0.790099,N/A,N/A,N/A,N/A
501,ZBH,149.76,0.100811,0.967284,-0.222022,0.174257,-0.078482,-0.210752,0.093069,-0.132610,-0.204925,0.10495,N/A,N/A,N/A,N/A
502,ZBRA,591.28,0.884672,1.327935,0.441471,0.930693,0.152769,-0.028819,0.578218,0.167733,0.068455,0.843564,N/A,N/A,N/A,N/A
503,ZION,53.99,0.543313,1.275753,0.117529,0.754455,0.041602,-0.13285,0.312871,-0.070784,-0.16616,0.247525,N/A,N/A,N/A,N/A
504,ZTS,210.86,0.265054,0.801371,-0.002405,0.407921,0.298789,0.189206,0.833663,0.212888,0.152976,0.90297,N/A,N/A,N/A,N/A

# Step 4 - Advanced Buy Rules

Now that we have finished our momentum criterion we are going to have a look at the two additional (value-based) criteria we will use for stock selection.

These are:

- Stock not in bottom quartile in terms of Return on Capital (ROC)
- Stock's Piotroski-Score >= 3

Further information about these two metrics can be found in the following two articles:

- https://www.investopedia.com/ask/answers/09/return-on-equity-vs-return-on-capital.asp
- https://www.investopedia.com/terms/p/piotroski-score.asp

We are going to start by calculating the Piotroski Score for each stock.

### Piotroski-Score

Originally developed by Chicago Accounting Professor Joseph Piotroski, the _Piotroski-F-Score_ is a popular metric used to judge value stocks.

The nine aspects are based on accounting results over a number of years; a point is awarded each time a standard is met, resulting in an overall score.

The four profitability criteria are:

- Positive net income
- Positive return on assets in the current year
- Positive operating cash flow in the current year
- Cash flow from operations being greater than net income (= quality of earnings)

Leverage, liquidity, and source of funds criteria are:

- Lower ratio of long term debt in the current period, compared to the previous year (= decreased leverage)
- Higher current ratio this year compared to the previous year (= more liquidity)
- No new shares were issued in the last year (= lack of dilution)

Operating efficiency criteria include:

- Higher gross margin compared to the previous year
- Higher asset turnover ratio compared to the previous year

For this project we only want to consider stocks with a Piotroski score of 3 or higher.

The following code provides one way to calculate the score for each stock and add it to our dataframe. The _pyEX_ library is used in order to make more customisable API-Calls.

Please note that the following code has a rather lengthy runtime. I've added a print statement so the progress can be followed.

In [12]:
F_SCORE = []

for symbol_string in symbol_strings:
    for symbol in symbol_string.split(','):
        c = pyEX.Client(api_token = IEX_CLOUD_API_TOKEN, version = 'sandbox')
        # The data we want to pull from IEX
        income_statement = c.incomeStatement(symbol, 'annual', 2)
        balance_sheet = c.balanceSheet(symbol, 'annual', 2)
        adv_fundamentals = c.fundamentals(symbol, 'annual')
        cash_flow = c.cashFlow(symbol, 'annual')
        print(f"Analyzing {symbol}")

        try:
        ### 
        # Positive net income
        ###

            def net_income(income_statement):
                ni = income_statement[0]['netIncome']

                if ni > 0:
                    return 1
                else:
                    return 0

        ###
        # Positive return on assets in the current year
        ###

            def positive_roa(income_statement, balance_sheet):
                ni = income_statement[0]['netIncome']
                assets = balance_sheet[0]['totalAssets']

                if ni / assets > 0:
                    return 1
                else:
                    return 0

        ###
        # Positive operating cash flow in the current year
        ###

            def positive_ocf(adv_fundamentals):
                ocf = adv_fundamentals[0]['cashFlowOperating']

                if ocf > 0:
                    return 1
                else:
                    return 0

        ###
        # Cash flow from operations being greater than net income
        ###

            def quality_of_earnings(adv_fundamentals, income_statement):
                ocf = adv_fundamentals[0]['cashFlowOperating']
                ni = income_statement[0]['netIncome']

                if ocf > ni:
                    return 1
                else:
                    return 0

        ###
        # Lower ratio of long term debt in the current period, compared to the previous year
        ###

            def decreased_leverage(balance_sheet):
                debt_cur = balance_sheet[0]['longTermDebt']
                debt_prev = balance_sheet[1]['longTermDebt']

                if debt_cur < debt_prev:
                    return 1
                else:
                    return 0

        ###
        # Higher current ratio this year compared to the previous year
        ###

            def more_liquidity(balance_sheet):
                ratio_cur = balance_sheet[0]['currentAssets'] / balance_sheet[0]['totalCurrentLiabilities']
                ratio_prev = balance_sheet[1]['currentAssets'] / balance_sheet[1]['totalCurrentLiabilities']

                if ratio_cur > ratio_prev:
                    return 1
                else:
                    return 0

        ###
        # No new shares were issued in the last year
        # This category cannot be easily replicated with IEX
        # Instead we use negative cashflow-from-financing as a replacement
        ###

            def negative_cff(cash_flow):
                cff = cash_flow[0]['cashFlowFinancing']

                if cff < 0:
                    return 1
                else:
                    return 0

        ###
        # Higher gross margin compared to the previous year
        ###

            def higher_gm(income_statement):
                gm_cur = income_statement[0]['grossProfit'] / income_statement[0]['totalRevenue']
                gm_prev = income_statement[1]['grossProfit'] / income_statement[1]['totalRevenue']

                if gm_cur > gm_prev:
                    return 1
                else:
                    return 0

        ###
        # Higher asset turnover ratio compared to the previous year
        ###

            def asset_turnover_improving(income_statement, balance_sheet):
                at_cur = income_statement[0]['totalRevenue'] / balance_sheet[0]['totalAssets']
                at_prev = income_statement[1]['totalRevenue'] / balance_sheet[1]['totalAssets']

                if at_cur > at_prev:
                    return 1
                else:
                    return 0


            f_score = net_income(income_statement) + positive_roa(income_statement, balance_sheet) + positive_ocf(adv_fundamentals) + quality_of_earnings(adv_fundamentals, income_statement) + decreased_leverage(balance_sheet) + more_liquidity(balance_sheet) + negative_cff(cash_flow) + higher_gm(income_statement) + asset_turnover_improving(income_statement, balance_sheet)
            print(f'{symbol} f score is {f_score}')
            F_SCORE.append(f_score)

        except IndexError:
            print('Missing data!')
            F_SCORE.append(-1)

            
momentum_df['Piotroski Score'] = F_SCORE

Analyzing A
A f score is 7
Analyzing AAL
AAL f score is 2
Analyzing AAP
AAP f score is 7
Analyzing AAPL
AAPL f score is 6
Analyzing ABBV
ABBV f score is 5
Analyzing ABC
ABC f score is 5
Analyzing ABMD
ABMD f score is 6
Analyzing ABT
ABT f score is 7
Analyzing ACN
ACN f score is 7
Analyzing ADBE
ADBE f score is 7
Analyzing ADI
ADI f score is 7
Analyzing ADM
ADM f score is 4
Analyzing ADP
ADP f score is 5
Analyzing ADSK
ADSK f score is 7
Analyzing AEE
AEE f score is 6
Analyzing AEP
AEP f score is 6
Analyzing AES
AES f score is 6
Analyzing AFL
AFL f score is 5
Analyzing AIG
AIG f score is 2
Analyzing AIV
AIV f score is 5
Analyzing AIZ
AIZ f score is 7
Analyzing AJG
AJG f score is 7
Analyzing AKAM
AKAM f score is 5
Analyzing ALB
ALB f score is 5
Analyzing ALGN
ALGN f score is 5
Analyzing ALK
ALK f score is 4
Analyzing ALL
ALL f score is 6
Analyzing ALLE
ALLE f score is 8
Analyzing ALXN
ALXN f score is 6
Analyzing AMAT
AMAT f score is 7
Analyzing AMCR
AMCR f score is 8
Analyzing AMD
AMD f score is 5
Analyzing AME
AME f score is 6
Analyzing AMGN
AMGN f score is 6
Analyzing AMP
AMP f score is 8
Analyzing AMT
AMT f score is 6
Analyzing AMZN
AMZN f score is 6
Analyzing ANET
ANET f score is 5
Analyzing ANSS
ANSS f score is 6
Analyzing ANTM
ANTM f score is 6
Analyzing AON
Missing data!
Analyzing AOS
AOS f score is 6
Analyzing APA
APA f score is 5
Analyzing APD
APD f score is 6
Analyzing APH
APH f score is 6
Analyzing APTV
APTV f score is 4
Analyzing ARE
ARE f score is 7
Analyzing ATO
ATO f score is 6
Analyzing ATVI
ATVI f score is 7
Analyzing AVB
AVB f score is 7
Analyzing AVGO
AVGO f score is 6
Analyzing AVY
AVY f score is 7
Analyzing AWK
AWK f score is 6
Analyzing AXP
AXP f score is 5
Analyzing AZO
AZO f score is 6
Analyzing BA
BA f score is 3
Analyzing BAC
BAC f score is 5
Analyzing BAX
BAX f score is 6
Analyzing BBY
BBY f score is 7
Analyzing BDX
BDX f score is 6
Analyzing BEN
BEN f score is 5
Analyzing BF.B
BF.B f score is 7
Analyzing BIIB
BIIB f score is 8
Analyzing BIO
BIO f score is 7
Analyzing BK
BK f score is 6
Analyzing BKNG
BKNG f score is 6
Analyzing BKR
BKR f score is 4
Analyzing BLK
Missing data!
Analyzing BLL
BLL f score is 8
Analyzing BMY
BMY f score is 5
Analyzing BR
BR f score is 6
Analyzing BRK.B
Missing data!
Analyzing BSX
BSX f score is 3
Analyzing BWA
BWA f score is 4
Analyzing BXP
BXP f score is 6
Analyzing C
C f score is 2
Analyzing CAG
CAG f score is 7
Analyzing CAH
CAH f score is 7
Analyzing CARR
CARR f score is 7
Analyzing CAT
CAT f score is 6
Analyzing CB
CB f score is 7
Analyzing CBOE
CBOE f score is 6
Analyzing CBRE
CBRE f score is 7
Analyzing CCI
CCI f score is 6
Analyzing CCL
CCL f score is 3
Analyzing CDNS
CDNS f score is 7
Analyzing CDW
CDW f score is 7
Analyzing CE
CE f score is 6
Analyzing CERN
CERN f score is 7
Analyzing CF
CF f score is 7
Analyzing CFG
CFG f score is 4
Analyzing CHD
CHD f score is 6
Analyzing CHRW
CHRW f score is 5
Analyzing CHTR
CHTR f score is 7
Analyzing CI
CI f score is 8
Analyzing CINF
CINF f score is 8
Analyzing CL
CL f score is 7
Analyzing CLX
CLX f score is 7
Analyzing CMA
CMA f score is 5
Analyzing CMCSA
CMCSA f score is 6
Analyzing CME
CME f score is 7
Analyzing CMG
CMG f score is 7
Analyzing CMI
CMI f score is 5
Analyzing CMS
CMS f score is 5
Analyzing CNC
CNC f score is 4
Analyzing CNP
CNP f score is 5
Analyzing COF
COF f score is 5
Analyzing COG
COG f score is 6
Analyzing COO
COO f score is 6
Analyzing COP
COP f score is 3
Analyzing COST
COST f score is 6
Analyzing COTY
COTY f score is 3
Analyzing CPB
CPB f score is 8
Analyzing CPRT
CPRT f score is 8
Analyzing CRM
CRM f score is 6
Analyzing CSCO
CSCO f score is 8
Analyzing CSX
CSX f score is 6
Analyzing CTAS
CTAS f score is 7
Analyzing CTL
Missing data!
Analyzing CTSH
CTSH f score is 7
Analyzing CTVA
CTVA f score is 8
Analyzing CTXS
CTXS f score is 6
Analyzing CVS
CVS f score is 7
Analyzing CVX
CVX f score is 5
Analyzing CXO
Missing data!
Analyzing D
D f score is 6
Analyzing DAL
DAL f score is 4
Analyzing DD
DD f score is 4
Analyzing DE
DE f score is 6
Analyzing DFS
DFS f score is 4
Analyzing DG
DG f score is 8
Analyzing DGX
DGX f score is 8
Analyzing DHI
DHI f score is 4
Analyzing DHR
DHR f score is 7
Analyzing DIS
DIS f score is 4
Analyzing DISCA
DISCA f score is 7
Analyzing DISCK
Missing data!
Analyzing DISH
DISH f score is 5
Analyzing DLR
DLR f score is 6
Analyzing DLTR
DLTR f score is 9
Analyzing DOV
DOV f score is 6
Analyzing DOW
DOW f score is 6
Analyzing DPZ
DPZ f score is 7
Analyzing DRE
DRE f score is 6
Analyzing DRI
DRI f score is 7
Analyzing DTE
DTE f score is 5
Analyzing DUK
DUK f score is 5
Analyzing DVA
DVA f score is 6
Analyzing DVN
DVN f score is 6
Analyzing DXC
DXC f score is 5
Analyzing DXCM
DXCM f score is 4
Analyzing EA
EA f score is 6
Analyzing EBAY
EBAY f score is 5
Analyzing ECL
ECL f score is 5
Analyzing ED
ED f score is 6
Analyzing EFX
EFX f score is 7
Analyzing EIX
EIX f score is 5
Analyzing EL
EL f score is 5
Analyzing EMN
EMN f score is 6
Analyzing EMR
EMR f score is 6
Analyzing EOG
EOG f score is 5
Analyzing EQIX
EQIX f score is 4
Analyzing EQR
EQR f score is 7
Analyzing ES
ES f score is 5
Analyzing ESS
ESS f score is 7
Analyzing ETFC
Missing data!
Analyzing ETN
ETN f score is 6
Analyzing ETR
ETR f score is 6
Analyzing EVRG
EVRG f score is 7
Analyzing EW
EW f score is 6
Analyzing EXC
EXC f score is 6
Analyzing EXPD
EXPD f score is 4
Analyzing EXPE
EXPE f score is 3
Analyzing EXR
EXR f score is 6
Analyzing F
F f score is 3
Analyzing FANG
FANG f score is 3
Analyzing FAST
FAST f score is 6
Analyzing FB
FB f score is 7
Analyzing FBHS
FBHS f score is 5
Analyzing FCX
FCX f score is 7
Analyzing FDX
FDX f score is 8
Analyzing FE
FE f score is 6
Analyzing FFIV
FFIV f score is 5
Analyzing FIS
FIS f score is 8
Analyzing FISV
FISV f score is 7
Analyzing FITB
FITB f score is 4
Analyzing FLIR
FLIR f score is 6
Analyzing FLS
FLS f score is 6
Analyzing FLT
FLT f score is 7
Analyzing FMC
FMC f score is 7
Analyzing FOX
Missing data!
Analyzing FOXA
FOXA f score is 7
Analyzing FRC
FRC f score is 3
Analyzing FRT
FRT f score is 6
Analyzing FTI
FTI f score is 5
Analyzing FTNT
FTNT f score is 7
Analyzing FTV
FTV f score is 7
Analyzing GD
GD f score is 6
Analyzing GE
GE f score is 5
Analyzing GILD
GILD f score is 5
Analyzing GIS
GIS f score is 7
Analyzing GL
GL f score is 7
Analyzing GLW
GLW f score is 6
Analyzing GM
GM f score is 6
Analyzing GOOG
Missing data!
Analyzing GOOGL
GOOGL f score is 5
Analyzing GPC
GPC f score is 6
Analyzing GPN
GPN f score is 7
Analyzing GPS
GPS f score is 3
Analyzing GRMN
GRMN f score is 7
Analyzing GS
GS f score is 3
Analyzing GWW
GWW f score is 6
Analyzing HAL
HAL f score is 5
Analyzing HAS
HAS f score is 5
Analyzing HBAN
HBAN f score is 5
Analyzing HBI
HBI f score is 2
Analyzing HCA
HCA f score is 7
Analyzing HD
HD f score is 7
Analyzing HES
HES f score is 4
Analyzing HFC
HFC f score is 4
Analyzing HIG
HIG f score is 6
Analyzing HII
HII f score is 6
Analyzing HLT
HLT f score is 4
Analyzing HOLX
HOLX f score is 7
Analyzing HON
HON f score is 6
Analyzing HPE
HPE f score is 3
Analyzing HPQ
HPQ f score is 6
Analyzing HRB
HRB f score is 8
Analyzing HRL
HRL f score is 5
Analyzing HSIC
HSIC f score is 7
Analyzing HST
HST f score is 2
Analyzing HSY
HSY f score is 6
Analyzing HUM
HUM f score is 6
Analyzing HWM
HWM f score is 7
Analyzing IBM
IBM f score is 7
Analyzing ICE
ICE f score is 5
Analyzing IDXX
IDXX f score is 6
Analyzing IEX
IEX f score is 6
Analyzing IFF
IFF f score is 7
Analyzing ILMN
ILMN f score is 6
Analyzing INCY
INCY f score is 3
Analyzing INFO
INFO f score is 7
Analyzing INTC
INTC f score is 7
Analyzing INTU
INTU f score is 6
Analyzing IP
IP f score is 8
Analyzing IPG
IPG f score is 6
Analyzing IPGP
IPGP f score is 7
Analyzing IQV
IQV f score is 7
Analyzing IR
IR f score is 3
Analyzing IRM
IRM f score is 6
Analyzing ISRG
ISRG f score is 6
Analyzing IT
IT f score is 8
Analyzing ITW
ITW f score is 5
Analyzing IVZ
IVZ f score is 7
Analyzing J
J f score is 6
Analyzing JBHT
JBHT f score is 7
Analyzing JCI
JCI f score is 4
Analyzing JKHY
JKHY f score is 7
Analyzing JNJ
JNJ f score is 5
Analyzing JNPR
JNPR f score is 6
Analyzing JPM
JPM f score is 3
Analyzing K
K f score is 7
Analyzing KEY
KEY f score is 5

Analyzing KEYS
KEYS f score is 7
Analyzing KHC
KHC f score is 8
Analyzing KIM
KIM f score is 5
Analyzing KLAC
KLAC f score is 7
Analyzing KMB
KMB f score is 7
Analyzing KMI
KMI f score is 6
Analyzing KMX
KMX f score is 4
Analyzing KO
KO f score is 6
Analyzing KR
KR f score is 7
Analyzing KSS
KSS f score is 4
Analyzing KSU
KSU f score is 5
Analyzing L
L f score is 5
Analyzing LB
LB f score is 6
Analyzing LDOS
LDOS f score is 6
Analyzing LEG
LEG f score is 6
Analyzing LEN
LEN f score is 7
Analyzing LH
LH f score is 9
Analyzing LHX
LHX f score is 6
Analyzing LIN
LIN f score is 6
Analyzing LKQ
LKQ f score is 7
Analyzing LLY
LLY f score is 6
Analyzing LMT
LMT f score is 6
Analyzing LNC
LNC f score is 6
Analyzing LNT
LNT f score is 5
Analyzing LOW
LOW f score is 8
Analyzing LRCX
LRCX f score is 5
Analyzing LUV
LUV f score is 4
Analyzing LVS
LVS f score is 1
Analyzing LW
LW f score is 8
Analyzing LYB
LYB f score is 6
Analyzing LYV
LYV f score is 2
Analyzing MA
MA f score is 7
Analyzing MAA
MAA f score is 6
Analyzing MAR
MAR f score is 8
Analyzing MAS
MAS f score is 5
Analyzing MCD
MCD f score is 5
Analyzing MCHP
MCHP f score is 8
Analyzing MCK
MCK f score is 5
Analyzing MCO
MCO f score is 7
Analyzing MDLZ
MDLZ f score is 7
Analyzing MDT
MDT f score is 6
Analyzing MET
MET f score is 6
Analyzing MGM
MGM f score is 3
Analyzing MHK
MHK f score is 6
Analyzing MKC
MKC f score is 4
Analyzing MKTX
MKTX f score is 6
Analyzing MLM
MLM f score is 7
Analyzing MMC
MMC f score is 8
Analyzing MMM
MMM f score is 7
Analyzing MNST
MNST f score is 6
Analyzing MO
MO f score is 7
Analyzing MOS
MOS f score is 7
Analyzing MPC
MPC f score is 4
Analyzing MRK
MRK f score is 5
Analyzing MRO
MRO f score is 5
Analyzing MS
MS f score is 4
Analyzing MSCI
MSCI f score is 7
Analyzing MSFT
MSFT f score is 8
Analyzing MSI
MSI f score is 6
Analyzing MTB
MTB f score is 4
Analyzing MTD
MTD f score is 6
Analyzing MU
MU f score is 6
Analyzing MXIM
MXIM f score is 6
Analyzing MYL
MYL f score is 7
Analyzing NBL
Missing data!
Analyzing NCLH
NCLH f score is 3
Analyzing NDAQ
NDAQ f score is 6
Analyzing NEE
NEE f score is 5
Analyzing NEM
NEM f score is 8
Analyzing NFLX
NFLX f score is 6
Analyzing NI
NI f score is 4
Analyzing NKE
NKE f score is 8
Analyzing NLOK
NLOK f score is 7
Analyzing NLSN
NLSN f score is 5
Analyzing NOC
NOC f score is 7
Analyzing NOV
NOV f score is 5
Analyzing NOW
NOW f score is 6
Analyzing NRG
NRG f score is 6
Analyzing NSC
NSC f score is 7
Analyzing NTAP
NTAP f score is 6
Analyzing NTRS
NTRS f score is 4
Analyzing NUE
NUE f score is 5
Analyzing NVDA
NVDA f score is 4
Analyzing NVR
NVR f score is 5
Analyzing NWL
NWL f score is 5
Analyzing NWS
Missing data!
Analyzing NWSA
NWSA f score is 5
Analyzing O
O f score is 5
Analyzing ODFL
ODFL f score is 7
Analyzing OKE
OKE f score is 6
Analyzing OMC
OMC f score is 6
Analyzing ORCL
ORCL f score is 5
Analyzing ORLY
ORLY f score is 7
Analyzing OTIS
OTIS f score is 6
Analyzing OXY
OXY f score is 5
Analyzing PAYC
PAYC f score is 8
Analyzing PAYX
PAYX f score is 7
Analyzing PBCT
PBCT f score is 6
Analyzing PCAR
PCAR f score is 7
Analyzing PEAK
PEAK f score is 4
Analyzing PEG
PEG f score is 7
Analyzing PEP
PEP f score is 6
Analyzing PFE
PFE f score is 7
Analyzing PFG
PFG f score is 6
Analyzing PG
PG f score is 6
Analyzing PGR
PGR f score is 6
Analyzing PH
PH f score is 4
Analyzing PHM
PHM f score is 8
Analyzing PKG
PKG f score is 7
Analyzing PKI
PKI f score is 8
Analyzing PLD
PLD f score is 6
Analyzing PM
PM f score is 7
Analyzing PNC
PNC f score is 3
Analyzing PNR
PNR f score is 7
Analyzing PNW
PNW f score is 5
Analyzing PPG
PPG f score is 6
Analyzing PPL
PPL f score is 5
Analyzing PRGO
PRGO f score is 5
Analyzing PRU
PRU f score is 2
Analyzing PSA
PSA f score is 6
Analyzing PSX
PSX f score is 3
Analyzing PVH
PVH f score is 3
Analyzing PWR
PWR f score is 7
Analyzing PXD
PXD f score is 4
Analyzing PYPL
PYPL f score is 5
Analyzing QCOM
QCOM f score is 6
Analyzing QRVO
QRVO f score is 8
Analyzing RCL
RCL f score is 3
Analyzing RE
RE f score is 5
Analyzing REG
REG f score is 6
Analyzing REGN
REGN f score is 4
Analyzing RF
RF f score is 5
Analyzing RHI
RHI f score is 7
Analyzing RJF
RJF f score is 4
Analyzing RL
RL f score is 5
Analyzing RMD
RMD f score is 7
Analyzing ROK
ROK f score is 5
Analyzing ROL
ROL f score is 8
Analyzing ROP
ROP f score is 5
Analyzing ROST
ROST f score is 5
Analyzing RSG
RSG f score is 7
Analyzing RTX
RTX f score is 5
Analyzing SBAC
SBAC f score is 8
Analyzing SBUX
SBUX f score is 6
Analyzing SCHW
SCHW f score is 4
Analyzing SEE
SEE f score is 6
Analyzing SHW
SHW f score is 7
Analyzing SIVB
SIVB f score is 5
Analyzing SJM
SJM f score is 7
Analyzing SLB
SLB f score is 4
Analyzing SLG
SLG f score is 6
Analyzing SNA
SNA f score is 7
Analyzing SNPS
SNPS f score is 8
Analyzing SO
SO f score is 6
Analyzing SPG
SPG f score is 6
Analyzing SPGI
SPGI f score is 7
Analyzing SRE
SRE f score is 7
Analyzing STE
STE f score is 5
Analyzing STT
STT f score is 6
Analyzing STX
STX f score is 6
Analyzing STZ
STZ f score is 9
Analyzing SWK
SWK f score is 5
Analyzing SWKS
SWKS f score is 6
Analyzing SYF
SYF f score is 5
Analyzing SYK
SYK f score is 5
Analyzing SYY
SYY f score is 5
Analyzing T
T f score is 5
Analyzing TAP
TAP f score is 5
Analyzing TDG
TDG f score is 5
Analyzing TDY
TDY f score is 8
Analyzing TEL
TEL f score is 3
Analyzing TFC
TFC f score is 7
Analyzing TFX
TFX f score is 5
Analyzing TGT
TGT f score is 8
Analyzing TIF
Missing data!
Analyzing TJX
TJX f score is 6
Analyzing TMO
TMO f score is 7
Analyzing TMUS
TMUS f score is 6
Analyzing TPR
TPR f score is 3
Analyzing TROW
Missing data!
Analyzing TRV
TRV f score is 7
Analyzing TSCO
TSCO f score is 6
Analyzing TSN
Missing data!
Analyzing TT
TT f score is 6
Analyzing TTWO
TTWO f score is 7
Analyzing TWTR
TWTR f score is 3
Analyzing TXN
TXN f score is 7
Analyzing TXT
TXT f score is 5
Analyzing TYL
TYL f score is 6
Analyzing UA
Missing data!
Analyzing UAA
UAA f score is 4
Analyzing UAL
UAL f score is 4
Analyzing UDR
UDR f score is 7
Analyzing UHS
UHS f score is 7
Analyzing ULTA
ULTA f score is 6
Analyzing UNH
UNH f score is 7
Analyzing UNM
UNM f score is 7
Analyzing UNP
UNP f score is 6
Analyzing UPS
UPS f score is 7
Analyzing URI
URI f score is 9
Analyzing USB
USB f score is 3
Analyzing V
V f score is 6
Analyzing VAR
Missing data!
Analyzing VFC
VFC f score is 5
Analyzing VIAC
VIAC f score is 5
Analyzing VLO
VLO f score is 4
Analyzing VMC
VMC f score is 7
Analyzing VNO
VNO f score is 6
Analyzing VRSK
VRSK f score is 9
Analyzing VRSN
VRSN f score is 5
Analyzing VRTX
VRTX f score is 9
Analyzing VTR
VTR f score is 6
Analyzing VZ
VZ f score is 6
Analyzing WAB
WAB f score is 7
Analyzing WAT
WAT f score is 7
Analyzing WBA
WBA f score is 5
Analyzing WDC
WDC f score is 5
Analyzing WEC
WEC f score is 5
Analyzing WELL
WELL f score is 8
Analyzing WFC
WFC f score is 6
Analyzing WHR
WHR f score is 7
Analyzing WLTW
WLTW f score is 7
Analyzing WM
WM f score is 6
Analyzing WMB
WMB f score is 7
Analyzing WMT
WMT f score is 8
Analyzing WRB
WRB f score is 5
Analyzing WRK
WRK f score is 5
Analyzing WST
WST f score is 8
Analyzing WU
WU f score is 7
Analyzing WY
WY f score is 9
Analyzing WYNN
WYNN f score is 3
Analyzing XEL
XEL f score is 5
Analyzing XLNX
XLNX f score is 7
Analyzing XOM
XOM f score is 4
Analyzing XRAY
XRAY f score is 2
Analyzing XRX
XRX f score is 5
Analyzing XYL
XYL f score is 5
Analyzing YUM
YUM f score is 6
Analyzing ZBH
ZBH f score is 4
Analyzing ZBRA
ZBRA f score is 6
Analyzing ZION
ZION f score is 4
Analyzing ZTS
ZTS f score is 6

### Return on Capital

Return on Capital (ROC) is a well-known metric used by investors and institutions to decide between competing for investment options.

It measures a corporation's profitability in relation to stockholdersâ€™ equity while also taking into account the total amount of debt owed by the company. It can be calculated using the following formula:

\begin{equation}
\text{ROC} = \frac{\text{Net Income}}{\text{Debt} + \text{Equity}}
\end{equation}

In [13]:
ROC = []

for symbol_string in symbol_strings:
    for symbol in symbol_string.split(','):
        try:
            c = pyEX.Client(api_token = IEX_CLOUD_API_TOKEN, version = 'sandbox')
            i = c.incomeStatement(symbol, 'annual')
            b = c.balanceSheet(symbol, 'annual')

            net_income = i[0]['netIncome']
            debt = b[0]['longTermDebt']
            equity = b[0]['totalAssets'] - b[0]['totalLiabilities']

            roc = net_income / debt + equity
            roc = round(roc)
            ROC.append(roc)
            
        except (IndexError, ZeroDivisionError):
            ROC.append(-1)
        
        
momentum_df['ROC'] = ROC

Since this metric is used for comparing companies, rather than as an absolute value in itself, we calculate the ROC Percentiles like we did for Momentum in Step 3.

In [14]:
for row in momentum_df.index:
    change_col = 'ROC'
    percentile_col = 'ROC Percentile'
    if momentum_df.loc[row, change_col] == -1:
        momentum_df.loc[row, change_col] = 0.0

for row in momentum_df.index:       
    change_col = 'ROC'
    percentile_col = 'ROC Percentile'            
    momentum_df.loc[row, percentile_col] = score(momentum_df[change_col], momentum_df.loc[row, change_col]) / 100
        
momentum_df

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,A,168.87,0.591259,0.947536,0.275018,0.79604,0.329178,0.199607,0.885149,0.296226,0.225388,0.954455,7,5032582130,0.491089,N/A
1,AAL,19.30,0.500988,1.154142,0.115791,0.712871,0.002749,-0.155073,0.219802,-0.187446,-0.27373,0.045545,2,-6258531497,0.011881,N/A
2,AAP,215.62,0.304037,0.714996,0.065406,0.465347,0.265575,0.167803,0.786139,0.078741,0.025287,0.669307,7,3846826903,0.427723,N/A
3,AAPL,148.81,0.252107,1.577257,-0.274305,0.390099,0.136210,-0.079472,0.510891,0.183090,0.065173,0.873267,6,65857326487,0.974257,N/A
4,ABBV,119.25,0.271548,0.686594,0.042396,0.419802,0.149568,0.05568,0.564356,0.029593,-0.021737,0.526733,5,15079071899,0.80396,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,135.16,0.291510,0.701742,0.057303,0.451485,0.283499,0.18754,0.811881,0.135743,0.08328,0.790099,6,-7944159734,0.007921,N/A
501,ZBH,149.76,0.100811,0.967284,-0.222022,0.174257,-0.078482,-0.210752,0.093069,-0.132610,-0.204925,0.10495,4,12707696298,0.768317,N/A
502,ZBRA,591.28,0.884672,1.327935,0.441471,0.930693,0.152769,-0.028819,0.578218,0.167733,0.068455,0.843564,6,2132018323,0.29901,N/A
503,ZION,53.99,0.543313,1.275753,0.117529,0.754455,0.041602,-0.13285,0.312871,-0.070784,-0.16616,0.247525,4,0,0.115842,N/A
504,ZTS,210.86,0.265054,0.801371,-0.002405,0.407921,0.298789,0.189206,0.833663,0.212888,0.152976,0.90297,6,3875422924,0.431683,N/A

### Adding some colour

As you can tell, adding all this data to our dataframe does make it quite obscure.

We therefore add some colour coding to see if our conditions have been violated. As a quick reminder, we would like to:
- Select stocks from the highest two deciles of momentum stocks.
- Only consider those stocks that also rank in the upper half of stocks with highest quarterly and bi-quarterly idiosyncratic momentum.
- Select stocks with Piotroski-Score of 3 or higher.
- Exclude stocks that are in bottom quartile in terms of Return on Capital (ROC).

Here's how we can do that:

In [15]:
def color_quarterly_red(value):
    if value < 0.50:
        color = 'red'
    elif value >= 0.50:
        color = 'green'
    else:
        color = 'black'
    
    return 'color: %s' % color

def color_annual_red(value):
    if value < 0.80:
        color = 'red'
    elif value >= 0.80:
        color = 'green'
    else:
        color = 'black'
        
    return 'color: %s' % color

def piotroski_color(value):
    if value > 6:
        color = 'green'
    elif value in [3, 4, 5, 6]:
        color = 'orange'
    else: 
        color = 'red'
        
    return 'color: %s' % color

def roc_color(value):
    if value <= 0.25:
        color = 'red'
    else:
        color = 'green'
        
    return 'color: %s' % color
        

final_df_color = (momentum_df.style
                    .applymap(color_quarterly_red, subset=['Six-Month IM-Percentile', 'Three-Month IM-Percentile'])
                    .applymap(color_annual_red, subset=['One-Year IM-Percentile'])
                    .applymap(piotroski_color, subset=['Piotroski Score'])
                    .applymap(roc_color, subset=['ROC Percentile']))

final_df_color

# Step 5 - Identifying stocks to buy

Now that we have visualised our conditions in our dataframe, it is time to filter our stocks based on our set conditions.

Here's how we can do that:

In [16]:
final_df1 = momentum_df[momentum_df['ROC Percentile'] >= 0.25]
final_df2 = final_df1[final_df1['Piotroski Score'] >= 3]
final_df3 = final_df2[final_df2['Three-Month IM-Percentile'] >= 0.50]
final_df4 = final_df3[final_df3['Six-Month IM-Percentile'] >= 0.50]
output_df = final_df4[final_df4['One-Year IM-Percentile'] >= 0.80]
output_df

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
23,ALB,229.41,1.136720,1.524301,0.627983,0.968317,0.385366,0.176926,0.934653,0.367860,0.253902,0.974257,5,4111769827,0.443564,N/A
78,CARR,57.54,0.792284,1.098679,0.425598,0.90099,0.477275,0.327036,0.976238,0.278054,0.195916,0.940594,7,6405991496,0.574257,N/A
82,CBRE,96.40,0.969205,1.19758,0.56951,0.950495,0.270461,0.106698,0.79604,0.083302,-0.00623,0.683168,7,7392120172,0.613861,N/A
86,CDW,197.59,0.627485,1.279319,0.20051,0.817822,0.216450,0.04151,0.710891,0.162501,0.066858,0.825743,7,1398969912,0.257426,N/A
106,COF,172.19,1.478765,1.151135,1.094572,0.986139,0.419338,0.261926,0.956436,0.077295,-0.008765,0.665347,5,61385055038,0.962376,N/A
162,EQR,86.27,0.596284,1.015783,0.257265,0.8,0.259822,0.120919,0.776238,0.134405,0.058464,0.782178,7,10928294788,0.714851,N/A
164,ESS,323.39,0.597851,0.927285,0.288369,0.80396,0.225666,0.098865,0.732673,0.129250,0.059926,0.772277,7,6050366895,0.550495,N/A
173,EXR,179.40,0.751772,0.397581,0.619079,0.879208,0.507051,0.452684,0.982178,0.229051,0.199328,0.924752,6,2662117835,0.324752,N/A
205,GOOGL,2786.18,0.698406,1.329807,0.254581,0.857426,0.310320,0.128476,0.853465,0.196574,0.097157,0.883168,5,221744928044,1.0,N/A
216,HCA,257.56,0.756358,0.949369,0.439505,0.881188,0.397842,0.268021,0.940594,0.218051,0.147076,0.908911,7,2802069971,0.338614,N/A
243,INTU,566.10,0.706892,1.41328,0.235208,0.863366,0.325772,0.132513,0.875248,0.295745,0.190087,0.952475,6,5168625849,0.49703,N/A
245,IPG,37.47,0.883410,1.141904,0.502298,0.928713,0.446100,0.289951,0.968317,0.118123,0.032753,0.756436,6,3009016518,0.360396,N/A
251,IT,308.90,1.197552,1.118255,0.824332,0.974257,0.649674,0.496758,0.986139,0.347623,0.264021,0.968317,8,1291773727,0.251485,N/A
256,JCI,73.60,0.797380,0.829229,0.520624,0.90495,0.318842,0.205449,0.869307,0.163725,0.101731,0.833663,4,17754347735,0.837624,N/A
265,KIM,21.95,0.845403,1.320306,0.404749,0.916832,0.220359,0.039814,0.722772,0.036598,-0.062109,0.552475,5,5459047126,0.512871,N/A
283,LLY,281.05,0.662150,0.545334,0.480144,0.831683,0.368464,0.293892,0.920792,0.395753,0.354983,0.980198,6,6168221453,0.562376,N/A
295,MAA,198.54,0.705799,0.606746,0.503297,0.861386,0.398149,0.31518,0.942574,0.227049,0.181688,0.918812,6,6082448870,0.554455,N/A
344,NUE,120.06,1.350708,1.146756,0.967976,0.980198,1.057001,0.900188,0.992079,0.167310,0.081578,0.841584,5,11786977192,0.744554,N/A
345,NVDA,208.92,0.602945,1.754582,0.017351,0.809901,0.330260,0.09033,0.887129,0.416447,0.285273,0.982178,4,16771700156,0.825743,N/A
382,PSA,324.73,0.671698,0.347973,0.555562,0.843564,0.402177,0.354594,0.948515,0.175644,0.14963,0.859406,6,8853547626,0.647525,N/A
385,PWR,100.30,0.827525,1.035791,0.481829,0.910891,0.250234,0.108595,0.764356,0.051302,-0.026135,0.594059,7,4526100833,0.461386,N/A
392,REG,66.74,0.626034,1.061423,0.271783,0.815842,0.243703,0.098559,0.754455,0.034797,-0.044556,0.546535,6,6413601395,0.576238,N/A
417,SPG,130.93,1.065037,1.380122,0.604419,0.958416,0.207192,0.018467,0.689109,0.063284,-0.039895,0.623762,6,3522532088,0.407921,N/A
436,TGT,256.00,0.658440,0,0.65844,0.829703,0.327393,0.327393,0.881188,0.140342,0.140342,0.79604,8,15687830364,0.813861,N/A
446,TT,197.21,0.670657,0.902742,0.369365,0.839604,0.271045,0.147599,0.79802,0.094572,0.027082,0.69901,6,6568252436,0.588119,N/A
450,TXT,71.82,0.768487,1.37429,0.309816,0.887129,0.385124,0.197197,0.932673,0.052332,-0.050411,0.59604,5,6015121818,0.544554,N/A
455,UDR,53.11,0.630908,0.937014,0.318178,0.819802,0.280444,0.152312,0.809901,0.167251,0.097199,0.839604,7,3272122908,0.384158,N/A
462,URI,331.84,0.815800,1.464926,0.326879,0.908911,0.147028,-0.053292,0.554455,0.032556,-0.076962,0.538614,9,4683131455,0.473267,N/A
481,WELL,85.46,0.624699,1.097667,0.258351,0.813861,0.257701,0.107601,0.774257,0.165227,0.083165,0.837624,8,16151452237,0.819802,N/A
502,ZBRA,591.28,0.884672,1.327935,0.441471,0.930693,0.152769,-0.028819,0.578218,0.167733,0.068455,0.843564,6,2132018323,0.29901,N/A

As we can see there were 30 stocks that met our conditions in this example. In line with our strategy we are going to pick the twenty stocks with highest One-Year Idiosyncratic Momentum.

In [17]:
output_df.sort_values('One-Year IM', ascending = False, inplace = True)
output_df = output_df[:20]
output_df.reset_index(drop = True, inplace = True)
output_df

C:\Users\Max\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,COF,172.19,1.478765,1.151135,1.094572,0.986139,0.419338,0.261926,0.956436,0.077295,-0.008765,0.665347,5,61385055038,0.962376,N/A
1,NUE,120.06,1.350708,1.146756,0.967976,0.980198,1.057001,0.900188,0.992079,0.167310,0.081578,0.841584,5,11786977192,0.744554,N/A
2,IT,308.90,1.197552,1.118255,0.824332,0.974257,0.649674,0.496758,0.986139,0.347623,0.264021,0.968317,8,1291773727,0.251485,N/A
3,TGT,256.00,0.658440,0,0.65844,0.829703,0.327393,0.327393,0.881188,0.140342,0.140342,0.79604,8,15687830364,0.813861,N/A
4,ALB,229.41,1.136720,1.524301,0.627983,0.968317,0.385366,0.176926,0.934653,0.367860,0.253902,0.974257,5,4111769827,0.443564,N/A
5,EXR,179.40,0.751772,0.397581,0.619079,0.879208,0.507051,0.452684,0.982178,0.229051,0.199328,0.924752,6,2662117835,0.324752,N/A
6,SPG,130.93,1.065037,1.380122,0.604419,0.958416,0.207192,0.018467,0.689109,0.063284,-0.039895,0.623762,6,3522532088,0.407921,N/A
7,CBRE,96.40,0.969205,1.19758,0.56951,0.950495,0.270461,0.106698,0.79604,0.083302,-0.00623,0.683168,7,7392120172,0.613861,N/A
8,PSA,324.73,0.671698,0.347973,0.555562,0.843564,0.402177,0.354594,0.948515,0.175644,0.14963,0.859406,6,8853547626,0.647525,N/A
9,JCI,73.60,0.797380,0.829229,0.520624,0.90495,0.318842,0.205449,0.869307,0.163725,0.101731,0.833663,4,17754347735,0.837624,N/A
10,MAA,198.54,0.705799,0.606746,0.503297,0.861386,0.398149,0.31518,0.942574,0.227049,0.181688,0.918812,6,6082448870,0.554455,N/A
11,IPG,37.47,0.883410,1.141904,0.502298,0.928713,0.446100,0.289951,0.968317,0.118123,0.032753,0.756436,6,3009016518,0.360396,N/A
12,PWR,100.30,0.827525,1.035791,0.481829,0.910891,0.250234,0.108595,0.764356,0.051302,-0.026135,0.594059,7,4526100833,0.461386,N/A
13,LLY,281.05,0.662150,0.545334,0.480144,0.831683,0.368464,0.293892,0.920792,0.395753,0.354983,0.980198,6,6168221453,0.562376,N/A
14,ZBRA,591.28,0.884672,1.327935,0.441471,0.930693,0.152769,-0.028819,0.578218,0.167733,0.068455,0.843564,6,2132018323,0.29901,N/A
15,HCA,257.56,0.756358,0.949369,0.439505,0.881188,0.397842,0.268021,0.940594,0.218051,0.147076,0.908911,7,2802069971,0.338614,N/A
16,CARR,57.54,0.792284,1.098679,0.425598,0.90099,0.477275,0.327036,0.976238,0.278054,0.195916,0.940594,7,6405991496,0.574257,N/A
17,KIM,21.95,0.845403,1.320306,0.404749,0.916832,0.220359,0.039814,0.722772,0.036598,-0.062109,0.552475,5,5459047126,0.512871,N/A
18,TT,197.21,0.670657,0.902742,0.369365,0.839604,0.271045,0.147599,0.79802,0.094572,0.027082,0.69901,6,6568252436,0.588119,N/A
19,URI,331.84,0.815800,1.464926,0.326879,0.908911,0.147028,-0.053292,0.554455,0.032556,-0.076962,0.538614,9,4683131455,0.473267,N/A

# Step 6 - Calculating the Number of Shares to Buy

We still haven't calculated the number of shares of each stock to buy. We would like to create an equal-weight portfolio of any size. We use an input to let the user specify his portfolio size.

Since the API returns its data in US-Dollars, you may need to convert it for use with another currency. The following code automatically converts your input from â‚¬ to $.

In [21]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input('Enter the size of your portfolio (in â‚¬): ')
    
    try:
        float(portfolio_size)
    except ValueError:
        print('That is not a number. \nPlease enter a float number: ')
        portfolio_size = input('Enter the size of your portfolio: ')

portfolio_input()
cr = CurrencyRates()
rate_euro_in_dollar = cr.convert('EUR', 'USD', 1)
portfolio_size = float(portfolio_size) * float(rate_euro_in_dollar)
print(f'Your portfolio size is ${portfolio_size}.')

Enter the size of your portfolio (in â‚¬): 20000
Your portfolio size is $23342.0.

We also need to round down the result since we neither want to end up with fractional shares nor go over the specified portfolio size.

In [22]:
position_size = float(portfolio_size) / len(output_df.index)
for i in output_df.index:
    output_df.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / output_df['Price'][i])
    
output_df

C:\Users\Max\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,Ticker,Price,One-Year Price Return,Beta,One-Year IM,One-Year IM-Percentile,Six-Month Price Return,Six-Month IM,Six-Month IM-Percentile,Three-Month Price Return,Three-Month IM,Three-Month IM-Percentile,Piotroski Score,ROC,ROC Percentile,Number of Shares to Buy
0,COF,172.19,1.478765,1.151135,1.094572,0.986139,0.419338,0.261926,0.956436,0.077295,-0.008765,0.665347,5,61385055038,0.962376,6
1,NUE,120.06,1.350708,1.146756,0.967976,0.980198,1.057001,0.900188,0.992079,0.167310,0.081578,0.841584,5,11786977192,0.744554,9
2,IT,308.90,1.197552,1.118255,0.824332,0.974257,0.649674,0.496758,0.986139,0.347623,0.264021,0.968317,8,1291773727,0.251485,3
3,TGT,256.00,0.658440,0,0.65844,0.829703,0.327393,0.327393,0.881188,0.140342,0.140342,0.79604,8,15687830364,0.813861,4
4,ALB,229.41,1.136720,1.524301,0.627983,0.968317,0.385366,0.176926,0.934653,0.367860,0.253902,0.974257,5,4111769827,0.443564,5
5,EXR,179.40,0.751772,0.397581,0.619079,0.879208,0.507051,0.452684,0.982178,0.229051,0.199328,0.924752,6,2662117835,0.324752,6
6,SPG,130.93,1.065037,1.380122,0.604419,0.958416,0.207192,0.018467,0.689109,0.063284,-0.039895,0.623762,6,3522532088,0.407921,8
7,CBRE,96.40,0.969205,1.19758,0.56951,0.950495,0.270461,0.106698,0.79604,0.083302,-0.00623,0.683168,7,7392120172,0.613861,12
8,PSA,324.73,0.671698,0.347973,0.555562,0.843564,0.402177,0.354594,0.948515,0.175644,0.14963,0.859406,6,8853547626,0.647525,3
9,JCI,73.60,0.797380,0.829229,0.520624,0.90495,0.318842,0.205449,0.869307,0.163725,0.101731,0.833663,4,17754347735,0.837624,15
10,MAA,198.54,0.705799,0.606746,0.503297,0.861386,0.398149,0.31518,0.942574,0.227049,0.181688,0.918812,6,6082448870,0.554455,5
11,IPG,37.47,0.883410,1.141904,0.502298,0.928713,0.446100,0.289951,0.968317,0.118123,0.032753,0.756436,6,3009016518,0.360396,31
12,PWR,100.30,0.827525,1.035791,0.481829,0.910891,0.250234,0.108595,0.764356,0.051302,-0.026135,0.594059,7,4526100833,0.461386,11
13,LLY,281.05,0.662150,0.545334,0.480144,0.831683,0.368464,0.293892,0.920792,0.395753,0.354983,0.980198,6,6168221453,0.562376,4
14,ZBRA,591.28,0.884672,1.327935,0.441471,0.930693,0.152769,-0.028819,0.578218,0.167733,0.068455,0.843564,6,2132018323,0.29901,1
15,HCA,257.56,0.756358,0.949369,0.439505,0.881188,0.397842,0.268021,0.940594,0.218051,0.147076,0.908911,7,2802069971,0.338614,4
16,CARR,57.54,0.792284,1.098679,0.425598,0.90099,0.477275,0.327036,0.976238,0.278054,0.195916,0.940594,7,6405991496,0.574257,20
17,KIM,21.95,0.845403,1.320306,0.404749,0.916832,0.220359,0.039814,0.722772,0.036598,-0.062109,0.552475,5,5459047126,0.512871,53
18,TT,197.21,0.670657,0.902742,0.369365,0.839604,0.271045,0.147599,0.79802,0.094572,0.027082,0.69901,6,6568252436,0.588119,5
19,URI,331.84,0.815800,1.464926,0.326879,0.908911,0.147028,-0.053292,0.554455,0.032556,-0.076962,0.538614,9,4683131455,0.473267,3

Finally, we would like to know how much money we will have left following our trades:

In [23]:
for i in output_df.index:
    spent = output_df['Price'] * output_df['Number of Shares to Buy']

rate_dollar_in_euro = cr.convert('USD', 'EUR', 1)
total_spent = spent.sum()
total_spent = round(total_spent * float(rate_dollar_in_euro))
balance = float(portfolio_size) * float(rate_dollar_in_euro) - total_spent
balance = round(balance)
print(f'Following the trades, portfolio size will be â‚¬{total_spent} and the remaining balance will be â‚¬{balance}.')

Following the trades, portfolio size will be â‚¬17881 and the remaining balance will be â‚¬2119.

# Step 7 - Saving our Results and Formatting our Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. 

We will also save the file as a pickle-object for further use.

### Initializing our XlsxWriter Object

In [24]:
writer = pd.ExcelWriter('momentum_strategy_test.xlsx', engine = 'xlsxwriter')
output_df.to_excel(writer, sheet_name = "Momentum Strategy", index = False)

### Creating the Formats

In [25]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

float_template = writer.book.add_format(
        {
            'num_format':'0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

### Applying the formats and saving the output

In [26]:
column_formats = {
    'A': ['Ticker', string_template],
    'B': ['Price', dollar_template], 
    'C': ['One-Year Price Return', percent_template],
    'D': ['Beta', float_template],
    'E': ['One-Year IM', percent_template], 
    'F': ['One-Year IM-Percentile', percent_template], 
    'G': ['Six-Month Price Return', percent_template], 
    'H': ['Six-Month IM', percent_template], 
    'I': ['Six-Month IM-Percentile', percent_template],
    'J': ['Three-Month Price Return', percent_template], 
    'K': ['Three-Month IM', percent_template], 
    'L': ['Three-Month IM-Percentile', percent_template], 
    'M': ['Piotroski Score', integer_template], 
    'N': ['ROC', dollar_template],
    'O': ['ROC Percentile', percent_template], 
    'P': ['Number of Shares to Buy', integer_template]                 
}

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 25, column_formats[column][1]) # 25 = column width
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], column_formats[column][1])
    
writer.save()

### Save as pickle object

Since we might want to use this output for further analysis, it may be better to save the data in a more accessible file format. Pickle provides a good and easy-to-use option for that.

In [27]:
pickle.dump(output_df, open('momentum_strategy_test.pkl', 'wb'))